<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
    <style>
        * {
            font-family: sans-serif;
        }
    </style>
</head>

<body>

    <header>
        <p style="text-align: center;"><img
                src="http://einsteinfloripa.com.br/wp-content/uploads/Logo-Einstein-horizontal-cinza.png" /></p>
        <br><br>
        <center><strong>ATESTADO DE MATRÍCULA</strong></center>
        <br>
        <br>
        <br>
        <p style="text-align: justify;">Declaramos para os devidos fins que <span
                style="text-transform: uppercase;"><b>{{ STUDENT_NAME }}</b></span>, registrado(a) com CPF n°
            <b>{{ STUDENT_CPF }}</b>, é aluno(a) matriculado(a) neste estabelecimento de ensino, registrado sob CNPJ
            23.637.930/0001-56, na turma <b>Extensivo {{ YEAR }}</b>, e frequenta regularmente as aulas de segunda a
            sexta, no período noturno, entre as 18h e 22h, conforme consta nos registros escolares.</p>
        <br>
        <br>
        <center>Florianópolis, {{ DATE }}</center>
        <br>
        <br>
        <br>
        <br>
        <br>
        <p style="text-align: right;">Atenciosamente,<br>Einstein Floripa Vestibulares</p>
        <br>
        <br>
        <p style="text-align: center; font-size: 10px;">Não é necessária assinatura. Para verificar a autenticidade
            deste documento acesse {{ AUTHENTICAION_URL }} e informe o CPF acima.<br>Dúvidas, entre em
contato pelo e-mail contato@einsteinfloripa.com.br.</p>
        <p style="text-align: center; font-size: 10px;">
            {% for line in OFFICE_ADDRESS %}
                {{ line }} <br>
            {% endfor %}
    </header>

</body>

</html>
