<!DOCTYPE html>
<html>

<head>
	<title></title>

	<style type='text/css'>
		body {
			font-size: 62.5%;
			line-height: 1.5;
			font-family: Arial, sans-serif;
			color: #444;
			background: #E9F0F6;
			margin: 0 auto;
			background: #E9F0F6;
		}

		*,
		*:before,
		*:after {
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}

		.popbox {
			position: relative;

			margin-top: 2em;
			margin-left: auto;
			margin-right: auto;
			width: 800px;
			z-index: 2;

			padding-top: 5px;
			padding-bottom: 5px;
		}

		.popbox-titulo {
			text-align: center;
			background: #4D80B6;
			color: white;
			font-size: 1em;
			width: 790px;

			margin-left: auto;
			margin-right: auto;

			padding-top: 0.5em;
			padding-bottom: 0.5em;

			padding-left: 1em;
			padding-right: 1em;
		}

		.tg {
			border-collapse: collapse;
			border-spacing: 0;
			border-width: 1px;
			border-style: solid;
			border-color: #ccc;
		}

		.tg td {
			font-family: Arial, sans-serif;
			font-size: 14px;
			padding: 10px 5px;
			-style: solid;
			border-width: 0px;
			overflow: hidden;
			word-break: normal;
			border-color: #ccc;
			color: #333;
			background-color: #fff;
		}

		.tg th {
			font-family: Arial, sans-serif;
			font-size: 14px;
			font-weight: normal;
			padding: 10px 5px;
			border-style: solid;
			border-width: 0px;
			overflow: hidden;
			word-break: normal;
			border-color: #ccc;
			color: #333;
			background-color: #f0f0f0;
		}

		.tg .tg-buh4 {
			background-color: #f9f9f9;
			text-align: left;
			vertical-align: top
		}

		.tg .tg-0lax {
			text-align: left;
			vertical-align: top
		}

		.popbox-linha {
			width: 100%;
			text-align: justify;
			color: #5B5A5F;
			width: 790px;

			margin-left: auto;
			margin-right: auto;

			font-size: 1em;
			background: #E9F0F6;
			padding-top: 0.5em;
			padding-bottom: 0.5em;
			padding-left: 1em;
			padding-right: 1em;
		}

		a {
			color: #00ccff;
			text-decoration: none;
		}

		a:hover {
			text-decoration: underline;
			color: orange;
		}
	</style>

</head>

<body>

	<div class='popbox'>

		<div class='popbox-titulo'>Einstein Floripa - Recuperação de senha</div>

		<div class='popbox-linha'>
			<h5>Olá,{{ NAME }}!</h5>
            <p>
                Recebemos seu pedido de recuperação de senha. Para redefinir sua senha, acesse <a href='{{ LINK }}'>este link</a>. Esse link será válido pelas próximas {{ VALID_HOURS }} horas.
            </p>
            <p>
                Caso você não tenha solicitado esse  e-mail, ignore-o.
            </p>

            <br>Att,
            <br>Equipe Einstein Floripa
		</div>

	</div>
</body>

</html>